/* Custom font */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Papyrus';
    src: url('../fonts/Papyrus-Regular.ttf') format('truetype');
}