/* Custom font */
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Comic Sans MS';
    src: url('../fonts/ComicSansMS-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Papyrus';
    src: url('../fonts/Papyrus-Regular.ttf') format('truetype');
}

/* Hamburger icon styling */
.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    transition: ease-in .2s;
}

.navbar-toggler .navbar-toggler-icon.open {
    transform: rotate(90deg);
}

.navbar-toggler {
    margin-left: -10px;
    border-color: transparent !important;
    border: none !important;
}

/* Hamburger dropdown item styling */
.navbar-item {
    font-size: 16px;
    color: white;
    padding-top: 100px;
}

.navbar-item.active {
    font-weight: bold;
}

/* Home element styling */
.title {
    cursor: pointer;
}

.title:hover {
    color: #D5609B;
}

.slide {
    /* width: 25rem; 
    height: 26rem; */
    width: 30%;
    height: 50%;
    object-fit: cover;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
}

.slide-mobile {
    width: 60%;
    height: 30%;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
}

.role {
    cursor: pointer;
}

.role:hover {
    color: #D5609B;
}

.role-image {
    /* width: 25rem; 
    height: 26rem; */
    width: 30%;
    height: 50%;
    object-fit: cover;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
}

.biscuits {
    position: fixed;
    right: 0%;
    top: 0%;
    transform: translate(0%, 0%);
    cursor: pointer;
}

/* Site-wide dark-mode */
body.dark-mode {
  background-color: #111111;
  color: #eeeeee;
}

body.dark-mode a {
    color: #eeeeee;
    text-decoration: none;
}

body.light-mode {
  background-color: white;
  color: black;
}

body.light-mode a {
    color: black;
    text-decoration: none;
}

.mode-button {
    font-size: 2rem;
    border: 0;
    background: transparent;
    text-decoration: none;
}

.mode-button:focus {
    outline: none;
}